FrontendMVC/Connected Services/reportService/DataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/DataService/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReportBase" />
  <xs:element name="GetTemplateNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="app" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ReportBase" minOccurs="0" name="GetTemplateNamesResult" nillable="true" type="q1:ArrayOfNameDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ReportBase" minOccurs="0" name="ReportListResult" nillable="true" type="q2:ArrayOfNameDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColumns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColumnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ReportBase" minOccurs="0" name="GetColumnsResult" nillable="true" type="q3:ArrayOfReportTemplateColumn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ReportBase" minOccurs="0" name="r" nillable="true" type="q4:ReportModel" />
        <xs:element minOccurs="0" name="newName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="genAccess" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportSaveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportDrop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportDropResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportDropResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportLoad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportLoadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ReportBase" minOccurs="0" name="ReportLoadResult" nillable="true" type="q5:ReportModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ReportBase" minOccurs="0" name="r" nillable="true" type="q6:ReportModel" />
        <xs:element minOccurs="0" name="FromPage" type="xs:int" />
        <xs:element minOccurs="0" name="ToPage" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataPageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XSLTranslator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ReportBase" minOccurs="0" name="r" nillable="true" type="q7:ReportModel" />
        <xs:element minOccurs="0" name="includeStyle" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XSLTranslatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XSLTranslatorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>